@charset "UFT-8";
body{background: #c9e2ea;}

#home:hover{background: #FFFFFF;}
#skill:hover{background: #FFFFFF;}
#work:hover{background: #FFFFFF;}


#summary{
    font-size: 34px;
    padding-top: 5%;
}

#intro{
    padding-top: 100px;
    padding-right: 10%;
    padding-left: 10%;
}


#intro_word{
    font-size: 26px;
    border-style: solid;
    border-width: 2px;
    padding-left: 6px;
}
#imgg{
       border-style: solid;
    border-width: 2px;
    padding-top: 6px;
}
table{
    border-collapse:collapse;
}